<p id="notice"><%= notice %></p>

<p>
  <strong>Company name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @job.url %>
</p>

<p>
  <strong>Job:</strong>
  <%= @job.job %>
</p>

<p>
  <strong>Age:</strong>
  <%= @job.age %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @job.qualification %>
</p>

<% if current_user.role == "admin" %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<% elsif current_user.role == "user" %>
  <%= render('userjobs/form') %>
<% end %>
<br>
<%= link_to 'Back', jobs_path,:class=>"waves-effect waves-light btn btn-warning darken-1 ", method: :get %>

